:javascript
  function submitCheck(){
    if(window.confirm( 'copy outputs?' )){
      return true;
    }else{
      window.alert('cancelled');
      return false;
    }
  }


%h1 form for cp_results.sh

%p= "slide ===#{slide}==="

%form(action="/form_cp_results" method="post" name="form-#{slide}" onSubmit="return submitCheck()")
  -if dir_slide_exist? slide
    %div slide's directory exist;
    -# %a(href = "/progress/#{slide}") progress()
    -# %a(href = "/graph/#{slide}") graph(if work done)

  <br/>

  - if @input_subdir
    %h1
      %font(color='red') undefined place #{@place} ; fill textarea for directory to save

  <br/>

  %input(type="hidden" name="slide" value="#{slide}")

  %input(type="submit" value="copy outputs of slide:#{slide}" class="button")
  <br/><br/> 
  %div type directory name if place is unregistered ( if place is registered in config and you fill the textarea, textarea-input will be ignored  )
  %input(type='text' name='output_subdir' value='')
  <br/><br/> 

  =haml :table_samples, :locals => { :slide => slide, :rows => rows, :box => true }
