:javascript
  function toggleBox(form, v){
    var f = document.forms[form];
    for(var i=0;i < f.length; i++){
      if(f.elements[i].disabled && v=='checked'){continue;}
      console.log( f.elements[i].exists )
      f.elements[i].checked = v;
    }
  }

:javascript
  function submitCheck(){
    if(window.confirm( 'launch task? (links appear on the right of the send-button if task was launched before)' )){
      return true;
    }else{
      window.alert('cancelled');
      return false;
    }
  }

:javascript
  function toggleRelaunch( form ){
    var f = document.forms[form];
    var checked = document.getElementById('relaunch').checked

    if(checked == false){ 
      for(var i=0;i < f.length; i++){
        if( f.elements[i].getAttribute('direxists') == 'true' ){
          f.elements[i].disabled = true
          f.elements[i].checked = ''
        }
      }      
    } else {
      for(var i=0;i < f.length; i++){
        if( f.elements[i].name == 'check[]' ){
          f.elements[i].disabled = false;
        }
      }
    }
  }

%p resultStatus:
%div(id="result" style="color: red; font-size: 40px;") 


%p= "slide ===#{slide}==="
-#%form(action="/" method="post" name="form-#{slide}" id="form-ajax" onSubmit="return submitCheck()")
%form(action="/" method="post" name="form-#{slide}" id="form-ajax" )
  -if dir_slide_exist? slide
    %div slide's directory exist;
    %a(href = "/progress/#{slide}") progress()
    %a(href = "/graph/#{slide}") graph(if work done)
    %a(href = "/form_cp_results/#{slide}") form to copy results (cp_results.sh)
  <br/>
  <br/>
  %input(type="hidden" name="slide" value="#{slide}")
  %button(class="button" name='action' value='launch' ) launch task
  %button(class="button" name='action' value='preparation' ) preparation only
  %input(type="button" value='selectAll' onclick="toggleBox(  'form-#{slide}', 'checked') " )
  %input(type="button" value='selectNone' onclick="toggleBox( 'form-#{slide}', '')" )    
  ||
  for relaunch
  %input(id="relaunch" name="relaunch" type="checkbox" value='for-relaunch' onclick="toggleRelaunch( 'form-#{slide}' )" )    
   

  %table(border="1")
    %thread
      %tr
        - for header in @show_headers
          %th= header.to_s
        %th box
        %th dir_exists?
    %tbody
      - for row in rows
        %tr
          - for cell in @show_headers.map{|h| row.send(h)}
            %td= cell.to_s
          - lib_id = row.library_id.to_s
          - ex = dir_exists?(slide, lib_id, row.prep_kit )

          - if ex
            %td
              %input(type="checkbox" name="check[]" value="#{lib_id}" direxists="true" disabled )
          - else
            %td
              %input(type="checkbox" name="check[]" value="#{lib_id}" direxists="false" )

          %td
            #exist= ex ? 'exists' : '___no___'



/ <script type='text/javascript' src='/js/post.js'></script>
<script type='text/javascript' src='/js/jquery.js'></script>
