check_results.json
%textarea( rows='4' )= log

%h1 form to remake check_results.log

%p= "slide ===#{slide}==="

%form(action="/form_remake_checkresults" method="post" name="form-#{slide}" )

  %input(type="hidden" name="slide" value="#{slide}")
  %input(type="submit" value="remake check_results.json of slide:#{slide}" class="button")

  =haml :table_samples, :locals => { :slide => slide, :rows => rows, :box => true }