%h1= "slide:[#{slide}]"

%h4 *** form ***
%a(href = "/form/#{slide}") form to launch task

-if dir_slide_exist? slide
  %p slide's directory exists;
  %a(href = "/progress/#{slide}") progress()
  %a(href = "/showgraph/#{slide}") graph(if work done)
  %a(href = "/form_cp_results/#{slide}") form to copy results (cp_results.sh)
  %a(href = "/form_remake_checkresults/#{slide}") form to remake check_results.log (check_results.rb)
-else
  %p slide's directory does not exist
<br/>
<br/>

%h4 *** links ***
%a(href="/showgraph/#{slide}")
%a(href = "/form_cp_results/#{slide}") form to copy results (cp_results.sh)

%h4 *** tasks ***
=haml :table_tasks,  :locals => { :tasks => tasks }

%h4 *** samples ***
=haml :table_samples, :locals => { :slide => slide, :headers => @show_headers, :rows => rows }