%a(href = "/") home <br/>

%p= "#{count} entries"

%table(border="1")
  %thread
    %tr
      - headers.each_with_index do |h,i|
        - next unless (head_show.include? i)
        %th= h.to_s
    %tbody
      - for task in tasks
        %tr
          - task.each_with_index do |col, i|
            - next unless (head_show.include? i)
            %td= col.to_s
          %td
            %a(href = "/progress/#{task[headers.find_index("args")].split[0]}") progress
          %td
            ="ps axo pid,ppid,pgid,command #{task[headers.find_index("pid")]} |grep '__uuid__=#{task[headers.find_index("uuid")]}' |grep -v 'grep'"

<br/>
- for i in 0.upto (count / step)
  - range_str = "#{i*step}-#{(i+1)*step -1}"
  <a href="?offset=#{ i*step }" >#{ range_str }</a> 
