%h1 NotDone auto_run.sh(s)
- heads = %w[pid ppid createat status uuid args].map(&:to_sym)

%table(border='1')

  %thread
    - for h in heads
      %th= h
    %th running?

  %tbody
    - for col, proc in data
      %tr
        - for h in heads
          %td= col[h]
        %td= proc.nil? ? '<font color="red">NO</font>' : escape_html( proc.to_s )
        - unless proc.nil?
          %td
            %form(action="/kill/#{proc.pid}" method="post")
              %input(type='hidden' name='ppid' value="#{proc.ppid}" )
              %button(type='submit' ) kill
