:javascript
  function toggleBox(form, v){
    var f = document.forms[form];
    for(var i=0;i < f.length; i++){
      f.elements[i].checked = v;
    }
  }

:javascript
  function submitCheck(){
    if(window.confirm( 'launch task? (links appear on the right of the send-button if task was launched before)' )){
      return true;
    }else{
      window.alert('cancelled');
      return false;
    }
  }

%h1 table

-# pages
- for i in 0.upto NGS::int_slides(@table).max / 50
  - range_str = "#{ i*50+1 }-#{ (i+1)*50 }"
  <a href="?range=#{ range_str }" >#{ range_str }</a> 
<a href="?range=others" >others</a> 

<br><br>

-# select 'no-int-slide' or int-slides in specified range
- for slide,rows in @filtered_table
  %p= "slide:[#{slide}]"
  =haml :table_samples, :locals => { :slide => slide, :headers => @show_headers, :rows => rows }

-# paging links on top and bottom
- for i in 0.upto NGS::int_slides(@table).max / 50
  <a href="?range=#{ (i*50+1).to_s + '-' + ((i+1)*50).to_s }" >#{(i*50+1).to_s + '-' + ((i+1)*50).to_s}</a> 
