:javascript
  function toggleBox(form, v){
    var f = document.forms[form];
    for(var i=0;i < f.length; i++){
      f.elements[i].checked = v;
    }
  }

:javascript
  function submitCheck(){
    if(window.confirm( 'launch task? (links appear on the right of the send-button if task was launched before)' )){
      return true;
    }else{
      window.alert('cancelled');
      return false;
    }
  }

%h1 table

- for i in 0.upto NGS::int_slides(@table).max / 50
  - range_str = "#{ i*50+1 }-#{ (i+1)*50 }"
  <a href="?range=#{ range_str }" >#{ range_str }</a> 
<a href="?range=others" >others</a> 

<br><br>

%a(href = "/process") processes

-# select 'no-int-slide' or int-slides in specified range
- for slide,rows in @filtered_table
  %p= "slide ===#{slide}==="
  %form(action="/" method="post" name="form-#{slide}" onSubmit="return submitCheck()")
    %input(type="hidden" name="slide" value="#{slide}")
    %input(type="submit" value="Send  slide:#{slide}" class="button")
    %input(type="button" value='selectAll' onclick="toggleBox(  'form-#{slide}', 'checked') " )
    %input(type="button" value='selectNone' onclick="toggleBox( 'form-#{slide}', '')" )    
    
    -if dir_slide_exist? slide
      %a(href = "/progress/#{slide}") progress(slide's directory exist)
      %a(href = "/graph/#{slide}") graph(if work done)

    %table(border="1")
      %thread
        %tr
          - for header in @show_headers
            %th= header.to_s
      %tbody
        - for row in rows
          %tr
            - for cell in row.values_at(* @show_headers)
              %td= cell.to_s
            - lib_id = row.values_at('library_id')[0].to_s
            %td
              %input(type="checkbox" name="check[]" value="#{lib_id}")
            -if check_dir
              %td
                #exist= dir_exists?(slide, lib_id, row.values_at('prep_lit') ) 
                

-# paging links on top and bottom
- for i in 0.upto NGS::int_slides(@table).max / 50
  <a href="?range=#{ (i*50+1).to_s + '-' + ((i+1)*50).to_s }" >#{(i*50+1).to_s + '-' + ((i+1)*50).to_s}</a> 
